/* Hiker's Guide CSS*/

/*  Home Posts & View More Btn, Blog Article Block 2, Event listings
/*==================================================
================================================== */
#posts {
  /* border: 1px solid white; */
  position: relative;
  justify-content: center;
  margin-top: -20%;
  width: 100%;
  overflow: hidden;
}

#posts article,
#aLevel2 article {
  width: 375px;
  height: 375px;
  /*   width: auto;
  height: 100%; */
  float: left;
  color: lemonchiffon;
  overflow: hidden;
}
#posts article img,
#aLevel2 article img {
  /* width: 330px;
  height: 330px; */
  width: 100%;
  height: 100%;
  border: 15px solid #292828;
  overflow: hidden;
}

#posts article h3 {
  margin: -300px 0px 0px 0px;
}
#posts article p {
  margin: 0px 0px -15px 0px;
  padding: 0px 2% 15px 25px;
}
#posts dd {
  padding-left: 0.2px;
}
#posts h2,
#aLevel3 h2 {
  font-size: 30px;
  padding: 2% 0px 5px 0px;
  color: #f0ae35;
}
#posts h3,
#aLevel2 h3 {
  padding: 0px 8% 0px 8%;
  font-size: 28px;
  color: lemonchiffon;
}
#posts p,
#aLevel2 p {
  padding: 0px 8% 0px 8%;
  margin: -200px 0px 0px 30px;
  font-size: 20px;
}
#posts dd {
  float: left;
  margin: 10px 0px 0px 8%;
  padding-right: 15px;
  font-size: 14px;
  color: #8a7300;
}

/*Home: view more buttons*/
span .seeMore {
  width: 90px;
  height: 30px;
  float: left;
  margin: 155px 0px 0px 24px;
  background-color: #f0ae35;
  color: dimgrey;
  font-size: 16px;
  border-color: lemonchiffon;
  border: none;
}

span .more {
  width: 100px;
  height: 50px;

  position: relative;
  margin: 50px 0px 0px 33%;

  background-color: transparent;
  color: #f0ae35;
  font-size: 16px;
  border-color: dimgrey;
}

/* Home: join & sign Block 3*/
/*==================================================
================================================== */
#join {
  position: relative;
  height: 375px;
  margin: 15% -2%;
  background-color: #f0ae35;
}
#join img {
  margin: 53% -15%;
  overflow: hidden;
}
#join section {
  /* border: 1px solid red; */
  position: relative;
  padding: 4%;
  width: 90%;
  margin: -160% 0%;
  text-align: left;
  color: #eeeeee;
}

/*sign up*/
#sign {
  /* border: 1px solid aqua; 
  margin: -10% 0% 10% 0%;
  */
  position: relative;
  width: 100%;
  padding: 3%;
  margin: auto;
  background-color: #292828;
}
#sign section {
  /*   border: 1px solid yellow; */
  width: 85%;
  height: 90px;
  text-align: center;
  color: #888888;
  margin: auto;
}
/*#sign section div {
  border: 1px solid red; 
}*/
#sign section .button {
  background: url(/images/right.png) no-repeat;
  border: none;
  margin: 1% 0% 15% 0%;
}

/* popop form  */
#mailingList {
  display: none;
}
#mailingList input,
select,
option {
  color: white;
}

/* Home: Upcoming Events*/
/*==================================================
================================================== */
#UpcomingEvents {
  /* border: 1px solid white; */
  position: relative;
  display: block;
  color: #888888;
  margin: auto;
  margin-top: 20%;
}

#mEvents,
#members,
#about {
  /* border: 1px solid red; */
  margin-bottom: 15%;
}
#UpcomingEvents #mEvents div,
#UpcomingEvents #members div,
#UpcomingEvents #about div {
  /* border: 1px solid purple; */
  width: 90%;
  transition: transform 0.2s;
  margin: auto;
}

#UpcomingEvents #mEvents div:hover {
  transform: scale(1.1);
}
#UpcomingEvents #about div:hover {
  transform: scale(1.1);
}
#UpcomingEvents #mEvents img {
  width: 12%;
  height: auto;
}

#UpcomingEvents #mEvents p {
  display: table-cell;
  margin-top: 1%;
}

#UpcomingEvents #members img {
  display: table-cell;
  width: 100%;
  height: auto;
}
#UpcomingEvents #members p strong {
  color: #f0ae35;
  font-size: 15px;
  margin-top: 25px;
}
#UpcomingEvents #members p {
  margin: 1% 0% 10% 0%;
}

/* BREAKPOINTS*
  / *===================================================
  ================================================== */

@media screen and (min-width: 765px) {
  #posts article {
    width: 770px;
    height: 770px;
  }
  #join img {
    margin: 25% -2%;
  }
  #join section {
    margin: -75% 0%;
  }
}
@media screen and (min-width: 991px) {
  #posts {
    margin-top: -1%;
  }
  #posts article {
    width: 480px;
    height: 480px;
  }
  #join img {
    margin: 25% -2%;
  }
  #join section {
    margin: -75% 0%;
  }
}
